* {
    margin: 0px;
    padding: 0px;
    /* border: 0px; */
    /* box-sizing: border-box; */
}

.box1 {
    width: 500px;
    height: 500px;
    background-color: red;
    margin-top: 10px;
    position: relative;
    /* padding: 100px 3px 8px 12px; */
}

#hello {
    margin: 0 auto;
    /* padding: 20px; */
    /* padding-left: 150px; */
    /* padding-top: 100px 200px 300px; */
    background-color: blue;
    color: white;
    height: 200px;
    width: 200px;
    /* margin-left: 10px; */
    /* margin-top: 20px; */
    /* position: absolute; */
    /* top: 10px; */
    /* left: 10px; */
    margin-bottom: 100px;
    /* border-top: 10px solid black; */
    /* border-radius: 15px; */
    /* border-width: 5px; */
    /* border-color: rgb(78, 235, 16); */
    /* border-style: solid; */
}

#hello:hover {
    background-color: pink;
    border-radius: 75px / 22px;
    border: 10px double black;
    margin-top: 10px;
    padding-right: 100px;
}

/* #box2 {
    width: 50px;
    height: 50px;
    background-color: green;
} */

body {
    height: 100px;
    width: 150px;
    background-color: aqua;
}

img{
    max-width: 100%;
    height: auto;
}