*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #7b435b;
}

#mainheading{
    font-size: xx-large;
    font-weight: 10px;
    color: #bcf8ec;
}
.navelements{

    display: flex;
    justify-content: space-around;
    color: rgb(130, 129, 129);
    color: #bcf8ec;
}

.frontlayout{
    text-align: center;
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(http://cdn.collider.com/wp-content/uploads/2015/05/mad-max-fury-road-image-the-war-rig.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 400px;

}

#startbtn{
    border: black solid 1px;
    border: 2px;
    color: #bcf8ec;
    font-size: larger;
    background-color: #8b687f;
    padding: 10px;
}

#startbtn:hover{
    background-color: rgb(130, 129, 129);
}

.big{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.small{
    background-color: red;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

.images img {
    width: 300px;
    height: 250px;
    object-fit: cover;
}


.biggrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* optional spacing */
}

.gridelements {
    background: lightblue;
    padding: 20px;
    text-align: center;
}

.contact{
    padding: 20px;
    margin: 20px;
}

@media (max-width: 768px) {

    .container {
        flex-direction: column;
        text-align: center;
    }

    .navelements {
        flex-direction: column;
        gap: 5px;
    }

    .frontlayout {
        padding: 30px;
    }

    .images {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .images img {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .big {
        flex-direction: column;
        gap: 10px;

    }


    .biggrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {

    .frontlayout {
        padding: 60px;
    }

    .images img {
        width: 250px;
        height: 200px;
    }

    .biggrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {

    #mainheading {
        font-size: 18px;
    }

    .frontlayout h1 {
        font-size: 24px;
    }

    .frontlayout h3 {
        font-size: 16px;
    }

    #startbtn {
        width: 100%;
        padding: 12px;
    }

    .papa {
        padding: 20px;
    }

    .small {
        padding: 25px;
        font-size: 16px;
    }

    .gridelements {
        padding: 25px;
    }
}




