*{
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(135deg, #0a0f1b, #0e2149, #322d7a);
}

.container{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

button{
    background-color: rgb(67, 67, 210);
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}
button:hover{
    background-color: rgb(11, 11, 210);
    color: white;
}

.main{
    color: white;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    padding-left: 300px;
    padding-right: 300px;
}