body {
    background-color: rgb(25, 126, 93);
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    background: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 9px 12px rgba(red, green, blue, alpha);
}

.transition-basic{
    background-color: white;
    width: 200px;
    transition: all 0.6s;
}

.transition-basic:hover {
    background-color: #ff6b6b;
    color: white;
    width: 220px;
}

.transition-basic:active {
    background-color: #c9c916;
    width: 200px;
    margin: 300px;
    padding: 150px;
}

.transition-timing {
    background-color: white;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.transition-timing:hover {
    transform: translateY(-20px);
    background-color: rgb(6, 124, 170);
}

.transition-transform {
    transition: transform 0.9s ease-in-out, background-color 0.4s;
}

.transition-transform:hover{
    transform: rotate(20deg) scale(0.9);
    background-color: aquamarine;
}

.animation-spin {
    
    animation-name: spin-around;
    animation-duration: 15s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
}

@keyframes spin-around {
    from { transform: rotate(-10deg); }
    to   { transform: rotate(360deg); }
}

.animation-color {
    animation: rainbow-shift 5s infinite;
}

@keyframes rainbow-shift {
    0% { background-color: rgb(207, 47, 47); border: 3px dotted yellowgreen; }
    50% { background-color: rgb(87, 202, 87); border-color: chocolate; transform: scale(0.9); rotate: 360deg;}
    100% { background-color: violet; border-color: rgb(255, 255, 0); }
}

.ball {
    width: 80px;
    height: 80px;
    background-color: rgb(255, 255, 0);
    border-radius: 50%;
    animation: bounce-ball 1s ease-in infinite alternate;
}

@keyframes bounce-ball {
    0% {transform: translateY(0);}
    100% {transform: translateY(-200px);}
}

